* {
    font-family: Poppins, sans-serif;
}

#title {
    text-align: center;
    color: white;
    font-size: 36px;
    color: black;
}

#description {
    text-align: center;
    color: white;
    /* font-weight: bold; */
    color: black;

}

body::before {
    content: "";
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    /* background: var(--color-darkblue); */
    /* background:radial-gradient(circle,rgb(106, 102, 206),rgb(111, 104, 255)); */
    opacity: 0.5;
    background-color: rgb(175, 170, 241);
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background-position:center; */

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

.form-group {
    color: white;
    padding-bottom: 30px;
    margin: 0 auto;

}

#survey-form{
    background-color: rgba(27, 27, 50,1);
    /* border: 3px solid white; */
    border-radius: 0.45rem;
    height: 180vh;
    width: 46vw;
    margin: 0 auto;
    padding: 30px;

}

label {
    display: block;
    font-size: 20px;
}
p{
    font-size: 20px;

}
input {
    display: block;
}

#name,
#email,
#number,
#dropdown,
#most-like {
    width: 45vw;
    height: 4vh;
    border-radius: 6px;
    margin-top:12px;
    font-size:20px;

}

.input-radio,
.input-checkbox {
    display: inline;
}

#comments {
    width: 45vw;
    height: 10vh;
    display: block;
    margin:0 auto;
    font-size:20px;


}
#submit{
    display: block;
    width: 45vw;
    height: 40px;
    margin:0 auto;
    background-color: #37af65;
    font-size:20px;
    cursor: pointer;

}
select{
    cursor: pointer;

}