*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

h1{
    background-color:#081b31;
    color:white;
    text-align:center;
    height:5rem;
    line-height:5rem;
}
img{
    width:200px;
    height:200px;
    border-radius:50%;
    border:4px solid black;
    object-fit:cover;
}
.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    margin-top:5rem;
}
.choice{
    height:220px;
    width:220px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;

}
.scoreBoard{
    display:flex;
    justify-content:center;
    gap:10rem;
    text-align:center;
    font-size:2rem;
    margin-top:30px;
}
.msgContainer{
display:flex;
justify-content:center;
align-items:center;
text-align: center;
margin-top:30px;
font-size: 2rem;
}
.choice:hover{
    cursor:pointer; 
    background-color:#081b31;
}
#userScore,#compScore{
    font-size:4rem;
}
#msg{
    background-color: #081b31;
    color:white;
    font-size:3rem;
    border-radius:1rem;
}
body{
    background-color: #96c1f3;
}